.main-carousel {
  background: #2c3e50;
}

.carousel-cell {
  width: 100%;
  height: 50vh;
  margin: 4px 2px;
  min-height: 250px;
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
  border-radius: 5px;
}

@media screen and (min-width: 768px) {
  .carousel-cell {
    width: 50%;
  }
}

.container {
  max-width: 1200px;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

.container .title {
  color: #fff;
  font-family: 'Verdana';
  font-size: 55px;
  margin: 0;
}

.container .description {
  color: #f10f0f;
  font-family: 'Verdana';
  font-size: 20px;
  margin: 0 0 10px 0;
}

.flickity-page-dots {
  display: none;
}

.reset-btn {
  position: absolute;
  color: rgba(255, 255, 255, 0.75);
  top: 20px;
  right: 25px;
  padding: 5px;
  cursor: pointer;
  font-size: 40px;
  transition: 0.1s;
}

.reset-btn:hover {
  color: white;
}

.progress-bar-container {
  height: 5px;
  background: #2c3e50;
  padding-bottom: 2px;
}

.progress-bar {
  height: 100%;
  width: 0;
  background: gray;
}

.gmap {
  height: 50vh;
}